.container {
  max-width: 960px;
}

.footer {
  margin: 1rem 16px 1rem;
}

#solution {
  margin-bottom: 1rem;
}

.page-title {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  background-color: #fff;
  margin-bottom: 1px;
}

.page-title__text-container {
  padding: .75rem;
  margin-left: auto;
  margin-right: auto;
}

.page-title__text {
  font-size: 1.875rem;
  color: #1a202c;
  line-height: 1.25;
  font-weight: 700;
}

.code-block {
  font-size: .875rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: #edf2f7;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.header {
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 700;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.button {
  display: inline-flex;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  font-size: .875rem;
  padding: .5rem 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  border-width: 1px;
  border-radius: .375rem;
  border-color: transparent;
}

.button--primary {
  background-color: #5a67d8;
  color: #fff;
}

.button--secondary {
  background-color: #718096;
  color: #fff;

}
